@{
    ViewData["Title"] = "Index";
}

<h2>Trang chủ</h2>

<p>Đây là trang chủ!</p>
<table class="table">
    <thead>
    </thead>
    <tbody>
        
            <tr>
                <td>
                    <a asp-controller="Trangchu" asp-action="ListTours">Danh sách các Tours</a>
                </td>
                <td>
                    <a asp-controller="Trangchu" asp-action="DoanhthuTour">Thống kê doanh thu Tour</a>
                </td>
                @*<td>
                    <a asp-controller="Trangchu" asp-action="DSDoanTour">Lập danh sách đoàn đi theo Tour</a>
                </td>*@
                
            </tr>
        
    </tbody>
</table>

