@model DULICH.Models.HoaDon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="hoadon" class="control-label"></label>
                <input asp-for="hoadon" class="form-control" />
                <span asp-validation-for="hoadon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doan_id" class="control-label"></label>
                <input asp-for="doan_id" class="form-control" />
                <span asp-validation-for="doan_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loaichiphi_id" class="control-label"></label>
                <input asp-for="loaichiphi_id" class="form-control" />
                <span asp-validation-for="loaichiphi_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngaylap" class="control-label"></label>
                <input asp-for="ngaylap" class="form-control" />
                <span asp-validation-for="ngaylap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sotien" class="control-label"></label>
                <input asp-for="sotien" class="form-control" />
                <span asp-validation-for="sotien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noidung" class="control-label"></label>
                <input asp-for="noidung" class="form-control" />
                <span asp-validation-for="noidung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

